# This file contains fish universal variable definitions.
# VERSION: 3.0
SETUVAR LESSHISTFILE:/tmp/less\x2dhist
SETUVAR PARALLEL_HOME:{{ .chezmoi.destDir }}/\x2econfig/parallel
SETUVAR PYTHON_HISTORY:{{ .chezmoi.destDir }}/\x2elocal/state/python_history
SETUVAR SCREENRC:{{ .chezmoi.destDir }}/\x2econfig/screen/screenrc
SETUVAR TERMINFO:{{ .chezmoi.destDir }}/\x2elocal/share/terminfo
SETUVAR TERMINFO_DIRS:{{ .chezmoi.destDir }}/\x2elocal/share/terminfo\x3a/usr/share/terminfo
SETUVAR WGETRC:{{ .chezmoi.destDir }}/\x2econfig/wgetrc
SETUVAR XDG_CACHE_HOME:{{ .chezmoi.destDir }}/\x2ecache
SETUVAR XDG_CONFIG_HOME:{{ .chezmoi.destDir }}/\x2econfig
SETUVAR XDG_DATA_DIRS:{{ .chezmoi.destDir }}/\x2elocal/share\x3a/usr/local/share\x3a/usr/share
SETUVAR XDG_DATA_HOME:{{ .chezmoi.destDir }}/\x2elocal/share
SETUVAR XDG_DESKTOP_DIR:{{ .chezmoi.destDir }}/Desktop
SETUVAR XDG_DOCUMENTS_DIR:{{ .chezmoi.destDir }}/Documents
SETUVAR XDG_DOWNLOAD_DIR:{{ .chezmoi.destDir }}/Downloads
SETUVAR XDG_MUSIC_DIR:{{ .chezmoi.destDir }}/Music
SETUVAR XDG_PICTURES_DIR:{{ .chezmoi.destDir }}/Pictures
SETUVAR XDG_PUBLICSHARE_DIR:{{ .chezmoi.destDir }}/Public
SETUVAR XDG_STATE_HOME:{{ .chezmoi.destDir }}/\x2elocal/state
SETUVAR XDG_TEMPLATES_DIR:{{ .chezmoi.destDir }}/Templates
SETUVAR XDG_VIDEOS_DIR:{{ .chezmoi.destDir }}/Videos
SETUVAR __fish_initialized:4300
