#!/bin/bash

{{ $sites := (joinPath .chezmoi.sourceDir ".encrypteddata/scms.yaml.age" | include | decrypt |fromYaml).sites -}}
{{ range $url, $profiles := $sites -}}
{{ range $profiles -}}
cat > {{ $.chezmoi.destDir }}/.gitconfig-{{.username }} << EOF
[user]
	name = {{ .username }}
	email = {{ .email }}
EOF
{{ end -}}
{{ end -}}